<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
    <meta charset="UTF-8">
    <title>NER References</title>
	
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrapw.css') }}" rel="stylesheet">
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script type="module">
	import { Blob } from './@vercel/blob';
	
	const save_data = {{ save_dict|tojson }};
	
	window.onload = function save_references() {
	
		if (save_data) {
		
		    console.log('save_data', save_data);
		    //const { url } = await put('references/blob.txt', save_data, { access: 'public' });
		
		}
	
	
	};
	</script>
	<script>
		
	function downloadFunc() {
	
	    let fields = ['ID', 'TYPEOFPUBLICATION', 'TITLE', 'SHORTTITLE', 'AUTHORNAME', 'AUTHORFIRSTNAME', 'PUBLICATIONNAME', 'PUBLICATIONYEAR', 'FIRSTYEAROFPUBLICATION', 'MONTH', 'VOLUME', 'ISSUE', 'NUMBER', 'PAGERANGE', 'SERIESTITLE', 'JOURNALABBREVIATION', 'DOI', 'ISBN/ISSN', 'URL', 'ACCESSEDDATE', 'PLACEOFPUBLICATION', 'PUBLISHINGHOUSE', 'EDITION', 'PUBLICATIONDATE', 'EDITORNAME', 'EDITORFIRSTNAME', 'UNIVERSITY', 'CONFERENCE', 'DATABASE', 'INFOSUPPLEMENTARY', 'DURATIONMINUTES', 'TYPEOFWORK', 'VERSION', 'MEDIASUPPORT', 'TRANSLATORFIRSTNAME', 'CONTRIBUTOR1FIRSTNAME', 'CONTRIBUTOR2FIRSTNAME', 'OPTIONS', 'CAPACITY', 'TRANSLATORNAME', 'NUMBEROFVOLUMES', 'MULTIVOLUMENUMBER', 'SERIESVOLUME', 'SERIESNUMBER', 'CONTRIBUTOR2NAME', 'BOOK', 'MUTIVOLUMENAME', 'CONTRIBUTOR1NAME', 'PLACE', 'TOTALNUMBEROFPAGES', 'DEPOSITYEARTHESES', 'SCIENTIFICDISCIPLINE', 'UPDATEDDATE'];
		
		let csvContent = '';
		csvContent += fields.join(',') + '\n';
		data = {{ csv_data|tojson }}

		data.forEach(row => {
		csvContent += row.join(',') + '\n'
		});

		let blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8,' });
		let objUrl = URL.createObjectURL(blob);

		let element = document.createElement('a');
		element.setAttribute('href', objUrl);
		element.setAttribute('download', 'spacy_csv.csv');
		document.body.appendChild(element);
		element.click();
		document.body.removeChild(element);

    }
	
    function downloadBase() {
		
		var data = {{ model_input|tojson }};
				
		let field = "Base_Text"
		
		let csvContent = '';
		csvContent += field + '\n';
		
		data = JSON.parse(data)
		
		for  (var key in data) {
		  csvContent += key + ': ' + data[key] + '\n'
		}
		
		let blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8,' });
		let objUrl = URL.createObjectURL(blob);

		let element = document.createElement('a');
		element.setAttribute('href', objUrl);
		element.setAttribute('download', 'base_text.csv');
		document.body.appendChild(element);
		element.click();
		document.body.removeChild(element);
		
    }

	</script>

		
	<style type="text/css">
	</style>

</head>

<body>
    <div class="container">
		<div style="height: 167px;" class="row bannière-fond" id="Bannière">
			<div style="height: 170px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Texte">
				<h3 style="color: white; font-family: Papyrus;" class="texte-bannière"><big>WhirlWriter</big></h3>
				<p class="texte-bannière-p"><big><span style="color: white; font-family: Papyrus;">The Paper Writer Framework</span></big><br></p>
			</div>
		</div>
		<div style="" class="navbar-default">
			<button class="button" onclick=""><a class="navbar-brand" href="https://whirlwriter.com/"><img src="{{url_for ('static', filename='./img/logo.png') }}" alt="Logo" class="vcenter" width="20"></a> 
			</button>
		</div>
		<div>
			<h1>Named Entity Recognition model <br>for the processing of scientific references.</h1><br>
            <p><i>Please download your csv-file and the base-text if necessary.</i></p>
		</div>
		<br>
        <div>
			<table>
				<tr>
					<th  height="50" width="55%">
						<input name="down" id="down"  value="Download CSV" type="button" onclick="downloadFunc()"></input> 
					</th>
					<th  height="50" width="55%">
						<input name="base" id="base"  value="Download Base Text" type="button" onclick="downloadBase()"></input> 
					</th>
				</tr>
			</table>
		</div>
		<br>
		<div class="ice2">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
        </div>
    </div>
</body>

{% endautoescape %}
</html>

    